@import url("http://fonts.googleapis.com/css?family=Roboto:500,300");
/*@import url("https://fonts.googleapis.com/css?family=Raleway");*/


html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}body{-webkit-text-size-adjust:none}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: #ececec;
}

/*-------Header------*/
/*nav {
  position: fixed;
  background: #2572c0;
  width: 250px;
  right: -250px;
  height: 100vh;
  padding-top: 100px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  z-index: 1;
}
nav ul {
  list-style: none;
  padding: 20px 0 0;
  margin: 0;
}
nav ul li a {
  display: inline-block;
  width: 100%;
  padding: 20px 20px 20px 30px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  font-size: 14px;
  font-family: "Roboto Light", sans-serif;
}
@media (min-width: 1366px) {
  nav {
    padding: 0 10px 0 0;
    z-index: 5;
  }
}

@media (min-width: 1280px) {
  nav {
            text-align: right;
            height: inherit;
            line-height: inherit;
            vertical-align: middle;
    width: 100%;
    height: 60px;
    right: 0;
    padding: 0 160px 0 0;
    z-index: 5;
  }
  nav ul {
    display: none;
  }
}
@media (min-width: 1280px) {
  nav ul {
    display: block;
  }
}
@media (min-width: 1280px) {
  nav li {
    display: inline-block;
    color: white;
  }
}*/


nav {
  position: relative;
  padding-top: 40px;
  width: 250px;
  left: -250px;
  height: 100vh;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  transition: left 0.3s;
  z-index: 150;
  background: #052f59;
}
nav ul {
  list-style: none;
  padding: 20px 0 0;
  margin: 0;
}
nav ul li:nth-child(1) {
  padding: 20px 20px 30px 30px;
}
nav ul li a {
  display: inline-block;
  width: 100%;
  padding: 15px 20px 15px 30px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  font-size: 14px;
  font-family: "Roboto Light", sans-serif;
  opacity: 0.8;
}
nav ul li a:hover {
  opacity: 1;
  background: #1976D2;
  /*color: #EFF0F1;*/
  /*background: #F0F0F0;*/
}

/*@media (max-width: 1390px) {
  header h1 {
    left: 130px;
  }
}*/
nav ul {
  display: block;
}
nav ul > li a {
  /*border-bottom: solid 1px #EFF0F1;*/
}
@media (max-width: 1280px) {
  /*header nav ul > li a {
    border-bottom: solid 1px #EFF0F1;
  }*/
}
@media (min-width: 1366px) {
  /*header nav {
    padding: 0 10px 0 0;
    z-index: 5;
  }*/
}

@media (min-width: 1280px) {
  /*header nav {
    text-align: right;
    height: inherit;
    line-height: inherit;
    vertical-align: middle;
    width: 100%;
    height: 60px;
    right: 0;
    padding: 0 160px 0 0;
    z-index: 5;
  }*/
  /*header nav ul {
    display: none;
  }*/
}
@media (min-width: 1280px) {
  /*header nav ul {
    display: block;
  }*/
}
@media (min-width: 1280px) {
  /*header nav li {
    display: inline-block;
    color: white;
  }*/
}



/*.template {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 200;
  opacity: 0.2;
}*/
/*-----------------Hamburger------------*/

.mobile-hamburger {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: block;
  position: absolute;
  top: 15px;
  left: 25px;
  height: 30px;
  width: 40px;
  cursor: pointer;
  z-index: 120;
}
.mobile-hamburger .bar {
  position: relative;
  background: #fff;
  width: 31px;
  height: 3px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  cursor: pointer;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  z-index: 30;
}

.mobile-hamburger .bar::before {
  content: "";
  position: absolute;
  left: 0;
  top: 17px;
  width: 31px;
  height: 3px;
  background: inherit;
  -webkit-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 30;
}
.mobile-hamburger .bar::after {
  content: "";
  position: absolute;
  left: 0;
  top: 8.6px;
  width: 31px;
  height: 3px;
  background: inherit;
  -webkit-transition: top 500ms 500ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 500ms 500ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 500ms 500ms cubic-bezier(0.23, 1, 0.32, 1), transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 500ms 500ms cubic-bezier(0.23, 1, 0.32, 1), transform 500ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 30;
}

/*--------------Close------------*/
.mobile-hamburger .bar.animate::after {
  /*left: -4px;
  top: 10px;
  width: 31px;
  height: 3px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-transition: top 500ms 500ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 500ms 500ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 500ms 500ms cubic-bezier(0.23, 1, 0.32, 1), transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 500ms 500ms cubic-bezier(0.23, 1, 0.32, 1), transform 500ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 500ms cubic-bezier(0.23, 1, 0.32, 1);*/

  top: 7.3px;
  width: 20px;
  height: 3px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-transition: top 500ms 500ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 500ms 500ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 500ms 500ms cubic-bezier(0.23, 1, 0.32, 1), transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 500ms 500ms cubic-bezier(0.23, 1, 0.32, 1), transform 500ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
}
.mobile-hamburger .bar.animate::before {
  top: 7px;
  left: -5px;
  width: 17px;
  background: #fff;
  -webkit-transform: rotate(75deg);
          transform: rotate(75deg);
  -webkit-transition: top 500ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 500ms 500ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 500ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 500ms 500ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 500ms cubic-bezier(0.23, 1, 0.32, 1), transform 500ms 500ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 500ms cubic-bezier(0.23, 1, 0.32, 1), transform 500ms 500ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 200ms cubic-bezier(0.23, 1, 0.32, 1);

  /*top: 4px;
  width: 25px;
  background: #fff;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 200ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 200ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 200ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 200ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 200ms cubic-bezier(0.23, 1, 0.32, 1);*/
}

/*@media (min-width: 1280px) {
  .mobile-hamburger {
    display: none;
  }
}*/

/*-------------Function---------*/
.is-open {
  left: 0px;
}
.mobile-hamburger .bar.animate {
  /*background: transparent;*/
  left: 12px;
  top: 2px;
  width: 17px;
  background: #fff;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
          -webkit-transition: top 500ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 500ms 500ms cubic-bezier(0.23, 1, 0.32, 1);
          transition: top 500ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 500ms 500ms cubic-bezier(0.23, 1, 0.32, 1);
          transition: top 500ms cubic-bezier(0.23, 1, 0.32, 1), transform 500ms 500ms cubic-bezier(0.23, 1, 0.32, 1);
          transition: top 500ms cubic-bezier(0.23, 1, 0.32, 1), transform 500ms 500ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 200ms cubic-bezier(0.23, 1, 0.32, 1);
}



/*.toggle-hamburger {
  background: none;
  display: block;
  position: absolute;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 96px;
  height: 96px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-shadow: none;
  border: none;
  border-radius: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.toggle-hamburger:focus {
  outline: none;
}


.toggle-hamburger span {
  display: block;
  position: absolute;
  top: 20px;
  left: 28px;
  right: 28px;
  height: 3px;
  background-color: #fff;
}
.toggle-hamburger span::before, .toggle-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  content: "";
}
.toggle-hamburger span::before {
  top: -10px;
}
.toggle-hamburger span::after {
  bottom: -10px;
}



.toggle-hamburger.toggle-hamburger__arrtoleft span {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.toggle-hamburger.toggle-hamburger__arrtoleft span::before, .toggle-hamburger.toggle-hamburger__arrtoleft span::after {
}
.toggle-hamburger.toggle-hamburger__arrtoleft span::before {
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transition: width 0.3s, top 0.3s, -webkit-transform 0.3s;
  transition: width 0.3s, top 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, width 0.3s, top 0.3s;
  transition: transform 0.3s, width 0.3s, top 0.3s, -webkit-transform 0.3s;
}
.toggle-hamburger.toggle-hamburger__arrtoleft span::after {
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: width 0.3s, bottom 0.3s, -webkit-transform 0.3s;
  transition: width 0.3s, bottom 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, width 0.3s, bottom 0.3s;
  transition: transform 0.3s, width 0.3s, bottom 0.3s, -webkit-transform 0.3s;
}

.toggle-hamburger.toggle-hamburger__arrtoleft.is-active span {
  background-color: #fff;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.toggle-hamburger.toggle-hamburger__arrtoleft.is-active span::before, .toggle-hamburger.toggle-hamburger__arrtoleft.is-active span::after {
  background-color: #fff;
  width: 40%;
}
.toggle-hamburger.toggle-hamburger__arrtoleft.is-active span::before {
  top: 0;
  -webkit-transform: translateX(28px) translateY(1px) rotate(45deg);
          transform: translateX(28px) translateY(1px) rotate(45deg);
}
.toggle-hamburger.toggle-hamburger__arrtoleft.is-active span::after {
  bottom: 0;
  -webkit-transform: translateX(28px) translateY(-1px) rotate(-45deg);
          transform: translateX(28px) translateY(-1px) rotate(-45deg);
}*/


/*--------Header--------*/
.header {
  position: fixed;
  /*padding: 0 80px;*/
  margin: 0;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  /*background: #1976D2;
  width: 100%;
  height: 45px;
  line-height: 45px;
  vertical-align: middle;*/
}
.header-top {
  /*padding-right: 25px;*/
  background: #1976D2;
  height: 45px;
  line-height: 45px;
  vertical-align: middle;
}
.header-top ul.right {
  /*margin-right: 65px;*/
  padding-right: 25px;
  text-align: right;
  list-style: none;
}
.header-top ul.right > li {
  display: inline-block;
  margin-right: 50px;
  text-align: right;
}
.header-top ul.right > li:last-child {
  margin-right: 0;
}
.header-top ul.right > li .main-hed {
  position: relative;
  cursor: pointer;
  /*top: -25px;*/
}
.header-top ul.right > li .right-hed {
  margin-left: -25px;
}
.header-top ul.right > li .main-hed .left-hed {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  margin-right: 25px;
}
.header-top ul.right > li .main-hed .left-first {
  margin-right: 40px;
}
.header-top ul.right > li .main-hed .right-hed {
  margin-left: 60px;
}
.header-top ul.right > li p {
  color: #fff;
  font-size: 0.9em;
}


/*--------Menu-bottom-------*/
.header-bottom {
  /*position: absolute;
  position: absolute;
  padding: 0 80px;
  margin: 0;
  top: 0;
  left: 0;*/
  background: #fff;
  height: 45px;
  line-height: 45px;
  vertical-align: middle;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
}
.header-bottom .menu-bottom {
  list-style: none;
  padding-left: 45px;
}
.header-bottom .menu-bottom > li {
  display: inline-block;
  margin-right: 18px;
}
.header-bottom .menu-bottom > li img {
  cursor: pointer;
}
.header-bottom .menu-bottom > li:nth-child(5) {
  margin-right: 5px;
}
.header-bottom .menu-bottom > li:nth-child(6) {
  margin-right: 0;
}

.menu-b1 {
  position: absolute;
  display: none;
  width: 70px;
  line-height: 17px;
  /*height: 20px;*/
  padding: 3px;
  top: 95px;
  left: 57px;
  z-index: 70;
  background: #404040;
  border-radius: 5px;
  color: #fff;
  font-size: 11px;
  text-decoration: none;
  text-align: center;
}
.menu-b2 {
  position: absolute;
  display: none;
  width: 70px;
  line-height: 17px;
  /*height: 20px;*/
  padding: 3px;
  top: 95px;
  left: 93px;
  z-index: 70;
  background: #404040;
  border-radius: 5px;
  color: #fff;
  font-size: 11px;
  text-decoration: none;
  text-align: center;
}
.menu-b3 {
  position: absolute;
  display: none;
  width: 70px;
  line-height: 17px;
  /*height: 20px;*/
  padding: 3px;
  top: 95px;
  left: 130px;
  z-index: 70;
  background: #404040;
  border-radius: 5px;
  color: #fff;
  font-size: 11px;
  text-decoration: none;
  text-align: center;
}

.menu-top {
  position: absolute;
  display: none;
  width: 150px;
  top: 95px;
  left: 190px;
  z-index: 72;
}
.menu-top .menu-top-ml {
  list-style: none;
  padding: 0;
  margin-right: 0;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.3);
}
.menu-top ul.menu-top-ml > li {
  padding: 3px 10px 3px 25px;
  border-bottom: none;
  background: #fff;
  line-height: 19px;
}
ul.menu-top-ml > li a {
  /*padding: 5px;*/
  font-size: 14px;
  font-weight: 400;
  color: #000;
  text-decoration: none;
}
.menu-top ul.menu-top-ml > li:hover {
  background: #eeeeee;
}


/*------------Main-----------*/
.contact {
  position: relative;
  top: 0;
  left: 0;
  /*top: 90px;*/
  padding: 0;
  margin: 0 auto;
  width: 100%;
  /*max-width: 940px;*/
  /*max-width: 1550px;*/
}
.left-s, .right-s {
  margin: 0 1.5%;
  display: inline-block;
  vertical-align: top;
}
/*.col-9 {
  width: 68%;
}*/
.left-s {
  /*background: #fff;*/
  margin-left: 0;
  /*width: 20%;*/
}
.right-s {
  position: absolute;
  right: 0;
  margin-right: 0;
  width: 100%;
}


/*----------Container---------*/
.contains-dush {
  position: relative;
  top: 130px;
  margin: 0 auto;
  width: 90%;
}
/*@media screen and (max-width: 1380px) {
  .container1 {
    max-width: 1075px;
  }
}*/
/*.col, .col-9, .col-7, .col-3, .col-5 {
  margin: 0 1.5%;
  display: inline-block;
  vertical-align: top;
}*/
.col-9 {
  width: 100%;
}
.col-9 .part2 {
  margin: 40px 0;
}
.col-9 h3 {
  margin: 0 0 10px 22px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
/*.col-3 {
  padding: 30px 20px;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
  width: 22%;
}*/
@media screen and (max-width: 768px) {
  .contains-dush {
    /*margin: 20px auto;*/
  }
  .col-9 {
    width: 100%;
    margin-bottom: 30px;
  }
  .col-3 {
    padding: 10px 10px 10px;
    width: 90%;
  }
}

/*.col-9 .list-content {
  position: relative;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
}
.col-9 .list-content > li {
  min-height: 55px;
  padding: 8px 22px;
  background: #fff;
  border-bottom: solid 1px #e8e8e8;
  vertical-align: middle;
}*/
.col-9 .list-block {
  position: relative;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);

  min-height: 55px;
  padding: 8px 22px;
  background: #fff;
  border-bottom: solid 1px #e8e8e8;
  vertical-align: middle;
}
.card-md-list1 {
  float: left;
  margin-right: 20px;
}
.card-md-list1 .card-md-list1-m {
  margin-top: 13px;
  /*position: absolute;*/
  /*top: 10px;
  display: block;*/
  /*width: 100%;
  height: 100%;*/
  /*padding: 0;
  margin: 0;*/
}
.card-md-list2 {
  float: left;
  margin-right: 20px;
}
.card-md-list3 {
  float: left;
  margin-right: 30px;
  width: 250px;
}
.card-md-list3 p {
  display: inline-block;
  overflow: hidden;
  margin-top: 13px;
  font-size: 12px;
  color: #444;
  vertical-align: middle;
  text-overflow: ellipsis;
  width: 100%;
  font-size: 0.8em;
}
.card-md-list4 {
  /*overflow: hidden;*/
}
.card-md-list4 span {
  display: inline-block;
  overflow: hidden;
  /*margin-left: 70px;*/
  margin-top: 10px;
  font-size: 12px;
  line-height: 19px;
  color: #444;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 60%;
  font-size: 0.8em;
  font-family: "Roboto Medium", sans-serif;
}

.card-md-list5 {
  float: right;
  margin-top: -19px;
  margin-right: 15px;
}
.card-md-list5 span {
  font-size: 13px;
  color: #999999;
}


.card-md-list6 {
  float: right;
  margin-top: -23px;
  cursor: pointer;
  padding: 5px;

  font-size: 17px;
  line-height: 17px !important;
  color: #000;
  opacity: 0.8;
  width: 25px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
}

.card-md-list6:hover {
  /*background: #eeeeee;
  border-radius: 40px;*/
}

@media screen and (max-width: 1200px) {
  .card-md-list3 p {
    margin-top: 5px;
  }
  .card-md-list4 {
    /*float: left;*/
  }
  .card-md-list4 span {
    float: left;
    margin-left: -279px;
    margin-top: 21px;
    width: 60%;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .card-md-list6 {
    margin-top: 7px;
  }
  .card-md-list5 {
    margin-top: 11px;
    margin-right: 20px;
  }
}


@media screen and (max-width: 650px) {
  .card-md-list4 span {
    width: 50%;
  }
}
@media screen and (max-width: 550px) {
  .card-md-list5 {
    display: none;
    margin-right: 0;
  }
  .card-md-list4 span {
    width: 40%;
  }
  .card-md-list3 p {
    width: 80%;
  }
  .card-md-list3 {
    margin-right: 1px;
  }
  .card-md-list4 span {
    float: left;
    margin-left: -250px;
    margin-top: 21px;
    width: 60%;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
@media screen and (max-width: 583px) {
  .card-md-list5 {
    margin-top: -6px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 566px) {
  .card-md-list5 {
    margin-top: -6px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 483px) {
  .card-md-list3 {
    width: 200px;
  }
  .card-md-list4 span {
    margin-left: -200px;
  }
}
@media screen and (max-width: 460px) {
  .card-md-list4 span {
    width: 50%;
  }
}
@media screen and (max-width: 434px) {
  .card-md-list3 {
    width: 150px;
  }
  .card-md-list4 span {
    margin-left: -150px;
  }
  .card-md-list4 span {
    width: 40%;
  }
  .card-md-list3 p {
    width: 80%;
  }
}
@media screen and (max-width: 372px) {
  .card-md-list3 {
    width: 110px;
  }
  .card-md-list4 span {
    margin-left: -110px;
  }
  .card-md-list4 span {
    width: 40%;
  }
  .card-md-list3 p {
    width: 80%;
  }
}

/*@media screen and (max-width: 488px) {
  .card-md-list4 span {
    width: 30%;
  }
  .card-md-list3 p {
    width: 60%;
  }
}
@media screen and (max-width: 471px) {
}*/

/*@media screen and (max-width: 482px) {

  .card-md-list3 p {
    width: 90%;
  }
}
@media screen and (max-width: 413px) {
  .card-md-list5 {
    display: none;
    margin-right: 0;
  }
  .card-md-list3 p {
    width: 70%;
  }
  .card-md-list4 span {
    margin-left: -158px;
  }
  .card-md-list3 {
    float: left;
    margin-right: 1px;
  }
  .card-md-list6 {
    width: 0;
  }
}*/


/*.mp1 {
  position: absolute;
  display: none;
  min-width: 150px;
  top: 38px;
  right: 12px;
  z-index: 60;
}
.mp2 {
  position: absolute;
  display: none;
  min-width: 150px;
  top: 38px;
  right: 12px;
  z-index: 60;
}
.mp3 {
  position: absolute;
  display: none;
  min-width: 150px;
  top: 38px;
  right: 12px;
  z-index: 60;
}*/
.contact-mouse {
  position: absolute;
  display: none;
  min-width: 150px;
  top: 38px;
  right: 12px;
  z-index: 60;
}
.contact-mouse .mouse-list {
  list-style: none;
  padding: 0;
  margin-right: 0;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.3);
  vertical-align: middle;
}
.contact-mouse .mouse-list > li {
  padding: 4px 15px;
  border-bottom: none;
  background: #fff;
  vertical-align: middle;
  cursor: pointer;
}
.contact-mouse .mouse-list > li ul {
  list-style: none;
}
.contact-mouse .mouse-list > li ul > li {
  display: inline-block;
  margin-right: 6px;
}
.contact-mouse .mouse-list > li ul > li:nth-child(1) {
  width: 15px;
}
.contact-mouse .mouse-list > li ul > li:last-child {
  margin-right: 0;
}
.contact-mouse a {
  padding: 5px;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  text-decoration: none;
  opacity: 0.7;
}
.contact-mouse .mouse-list > li:hover {
  background: #eeeeee;
}

.list-add {
  display: none;
  margin: -3px 0 30px;
  padding: 40px 24px;
  background: #fff;
  /*border: solid 1px #b5b5b5;*/
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
}
.list-add p {
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

.list-add .text-ar {
  margin: 20px 0;
  overflow-y: scroll;
  border-bottom: solid 1px #e8e8e8;
}
.list-add form {
  /*margin: 20px 0;*/
  /*padding: 10px;*/
}
.list-add form .label-m {
  position: relative;
  top: 20px;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #696969;
  z-index: 10;
}
.list-add textarea {
  padding: 20px 0 10px;
	display: block;
	width: 100%;
  height: 150px;
  border: 0;
  outline: 0;
  resize: none;
  z-index: 5;
}

#cnvs{
  width: 100%;
  height: 2px;
  border: 1px solid red;
}

.line-span {
  display: block;
  position: absolute;
  border: 0;
  margin: 0 auto;
  width: 0;
  height: 2px;
  background: #217fdd;
  text-align: center;
  /*-webkit-transition: right 1s linear 0.5s;
  -moz-transition: right 1s linear 0.5s;
  -o-transition: right 1s linear 0.5s;
  transition: right 1s linear 0.5s;*/
  transition: width 2s ease-in;
}
.line-main {
  position: relative;
}
.line-main .line-left {
  position: absolute;
  right: 0;
  /*left: 0;
  top: 0;
  bottom: 0;*/
  width: 50%;
}
.line-main .line-right {
  margin-left: 50%;
}
/*.line-span::before{
  left: 50%;
}
.line-span::after{
  right: 50%;
}*/

.list-add a {
  padding: 7px 20px;
  font-size: 14px;
  color: #1976d2;
  text-transform: uppercase;
  text-decoration: none;

}
.list-add a:hover {
  background: #e3f3fd;
}



/*--------Send---------*/
.send-p {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background:  rgba(0, 0, 0, 0.3);
  z-index: 200;

  /*position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;*/
}
.send-middle {
  position: relative;
  top: 10%;
  margin: 0 auto;
  padding: 20px 30px;
  width: 40%;
  background: #fff;
  z-index: 250;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.4);
  border-radius: 3px;
}
@media screen and (max-width: 900px) {
  .send-middle {
    width: 60%;
  }
}
@media screen and (max-width: 600px) {
  .send-middle {
    width: 70%;
  }
}
@media screen and (max-width: 400px) {
  .send-middle {
    width: 90%;
  }
}
.send-p h3 {
  margin-bottom: 20px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}
.send-p p {
  font-size: 12px;
  font-family: "Roboto Light", sans-serif;
  color: #444444;
}
.send-middle .input-block-send {
  margin: 10px 0 10px;
  width: 100%;
  border: 0;
  border-bottom: solid 1px #e8e8e8;
}
.send-middle .input-send {
  width: 100%;
  border: 0;
}
.input-send:focus{
    outline: none;
}
.send-middle .send-text-block {
  margin: 20px 0;
  overflow-y: scroll;
  border-bottom: solid 1px #e8e8e8;
}
.send-middle .text-send {
	display: block;
	width: 100%;
  height: 100px;
  border: 0;
  outline: 0;
  resize: none;
}
.send-middle .button-bottom {
	padding: 20px 20px 30px;
  background: #f5f4f4;
  text-align: center;
}
.button-bottom p {
  margin-bottom: 20px;
}
.button-bottom a {
  padding: 8px 15px;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  color: #272727;
  text-align: center;
  background: #fff;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
}

.send-p.speed-in {
  left: 0;
  display:block;
  transition-duration: 0.9s;
}

#close-check{
  position: relative;
  left: 0;
  top: 5px;
  text-align: right;
}
#close-check a {
  width: 40px;
  height: 100%;
  background: transparent url("img/close.png") no-repeat center center;
}
.send-p .img-replace {
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.main-bottom {
  position: relative;
  bottom: 25px;
  margin: 55px 0 0;
  /*position: relative;
  top: 20px;*/
}
.main-bottom .main-bottom-left {
  float: left;
}
.main-bottom .main-bottom-right {
  float: right;
}
.main-bottom .main-bottom-right a {
  padding: 7px 20px;
  font-size: 14px;
  color: #1976d2;
  text-transform: uppercase;
  text-decoration: none;
  background: #e3f3fd;
}
