<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <main class="container1 clearfix">
		<section class="col-9 clearfix">
      <div class="logo"></div>
      <nav>
        <ul>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Help Desk</a></li>
          <li><a href="#">Clients</a></li>
          <li><a href="#">Invoice</a></li>
          <li><a href="#">Reports</a></li>
          <li><a href="#">Managers</a></li>
          <li><a href="#">My mechanics</a></li>
          <li><a href="#">Raiting staffs</a></li>
        </ul>
      </nav>
		</section>

		<section class="sidebar col-3">
      <div class="top">
        <ul>
          <li><a href="#">Notification</a></li>
          <li><a href="#">Setting</a></li>
        </ul>
      </div>

      <div class="big-outline">

        <svg viewBox="0 0 1010 290">
            <text x="830" y="30" fill="#0994c6" font-size="36" font-weight="200" text-anchor="start">+275</text>
            <text x="920" y="15" fill="#2a3845" font-size="13" font-weight="200" text-anchor="start">Registrations</text>
            <text x="920" y="30" fill="#798083" font-size="13" font-weight="200" text-anchor="start">15 Jun 2018</text>

            <text x="560" y="30" fill="#0994c6" font-size="36" font-weight="200" text-anchor="start">$704734</text>
            <text x="700" y="15" fill="#2a3845" font-size="13" font-weight="200" text-anchor="start">$TOTAL AMOUNT</text>
            <text x="700" y="30" fill="#798083" font-size="13" font-weight="200" text-anchor="start">15 Jun 2018</text>

            <text x="360" y="30" fill="#0994c6" font-size="36" font-weight="200" text-anchor="start">+68%</text>
            <text x="460" y="15" fill="#2a3845" font-size="13" font-weight="200" text-anchor="start">sales</text>
            <text x="460" y="30" fill="#798083" font-size="13" font-weight="200" text-anchor="start">20 Jan 2018</text>

           <text x="0" y="54" fill="#b9baba" font-size="11" font-weight="200" text-anchor="start">80</text>
           <rect x="20" y="74" width="100%" height="1" style="fill:rgb(221,221,2221);" />
           <text x="0" y="79" fill="#b9baba" font-size="11" font-weight="200" text-anchor="start">70</text>
           <rect x="20" y="99" width="100%" height="1" style="fill:rgb(221,221,2221);" />
           <text x="0" y="104" fill="#b9baba" font-size="11" font-weight="200" text-anchor="start">60</text>
           <rect x="20" y="124" width="100%" height="1" style="fill:rgb(221,221,2221);" />
           <text x="0" y="129" fill="#b9baba" font-size="11" font-weight="200" text-anchor="start">50</text>
           <rect x="20" y="149" width="100%" height="1" style="fill:rgb(221,221,2221);" />
           <text x="0" y="154" fill="#b9baba" font-size="11" font-weight="200" text-anchor="start">40</text>
           <rect x="20" y="174" width="100%" height="1" style="fill:rgb(221,221,2221);" />
           <text x="0" y="179" fill="#b9baba" font-size="11" font-weight="200" text-anchor="start">30</text>
           <rect x="20" y="199" width="100%" height="1" style="fill:rgb(221,221,2221);" />
           <text x="0" y="204" fill="#b9baba" font-size="11" font-weight="200" text-anchor="start">20</text>
           <rect x="20" y="224" width="100%" height="1" style="fill:rgb(221,221,2221);" />
           <text x="0" y="229" fill="#b9baba" font-size="11" font-weight="200" text-anchor="start">10</text>
           <rect x="20" y="249" width="100%" height="1" style="fill:rgb(221,221,2221);" />
           <text x="0" y="254" fill="#b9baba" font-size="11" font-weight="200" text-anchor="start">0</text>

           <text x="40" y="279" fill="#b9baba" font-size="11" font-weight="200" text-anchor="start">01</text>
           <text x="95" y="279" fill="#b9baba" font-size="11" font-weight="200" text-anchor="start">02</text>
           <text x="150" y="279" fill="#b9baba" font-size="11" font-weight="200" text-anchor="start">03</text>
           <text x="205" y="279" fill="#b9baba" font-size="11" font-weight="200" text-anchor="start">04</text>
           <text x="260" y="279" fill="#b9baba" font-size="11" font-weight="200" text-anchor="start">05</text>
           <text x="315" y="279" fill="#b9baba" font-size="11" font-weight="200" text-anchor="start">06</text>
           <text x="370" y="279" fill="#b9baba" font-size="11" font-weight="200" text-anchor="start">07</text>
           <text x="425" y="279" fill="#b9baba" font-size="11" font-weight="200" text-anchor="start">08</text>
           <text x="480" y="279" fill="#b9baba" font-size="11" font-weight="200" text-anchor="start">09</text>
           <text x="535" y="279" fill="#b9baba" font-size="11" font-weight="200" text-anchor="start">10</text>
           <text x="590" y="279" fill="#b9baba" font-size="11" font-weight="200" text-anchor="start">11</text>
           <text x="645" y="279" fill="#b9baba" font-size="11" font-weight="200" text-anchor="start">12</text>
           <text x="700" y="279" fill="#b9baba" font-size="11" font-weight="200" text-anchor="start">13</text>
           <text x="755" y="279" fill="#b9baba" font-size="11" font-weight="200" text-anchor="start">14</text>
           <text x="810" y="279" fill="#b9baba" font-size="11" font-weight="200" text-anchor="start">15</text>
           <text x="865" y="279" fill="#b9baba" font-size="11" font-weight="200" text-anchor="start">16</text>
           <text x="920" y="279" fill="#b9baba" font-size="11" font-weight="200" text-anchor="start">17</text>
           <text x="975" y="279" fill="#b9baba" font-size="11" font-weight="200" text-anchor="start">18</text>

           <rect x="40" y="50" width="1" height="69%" style="fill:rgb(221,221,221);" />
           <rect x="135" y="50" width="1" height="69%" style="fill:rgb(221,221,221);" />
           <rect x="230" y="50" width="1" height="69%" style="fill:rgb(221,221,221);" />
           <rect x="325" y="50" width="1" height="69%" style="fill:rgb(221,221,221);" />
           <rect x="420" y="50" width="1" height="69%" style="fill:rgb(221,221,221);" />
           <rect x="515" y="50" width="1" height="69%" style="fill:rgb(221,221,221);" />
           <rect x="610" y="50" width="1" height="69%" style="fill:rgb(221,221,221);" />
           <rect x="705" y="50" width="1" height="69%" style="fill:rgb(221,221,221);" />
           <rect x="800" y="50" width="1" height="69%" style="fill:rgb(221,221,221);" />
           <rect x="895" y="50" width="1" height="69%" style="fill:rgb(221,221,221);" />
           <rect x="990" y="50" width="1" height="69%" style="fill:rgb(221,221,221);" />
           <symbol>
           </symbol>
           <path d="M 25 160 C 100 110, 90 140, 140 145 S 185 55, 233 99 S 270 80, 315 137 S 390 110, 420 125 S 460 65, 495 95 S 540 130, 560 86 S 610 35, 635 90 S 645 87, 710 130 S 790 40, 850 100 S 915 70, 945 93 S 1020 5, 1220 75" style="stroke:#e0615c; stroke-width:3; fill:none;" transform='translate(2 43)' filter="url(#f2)"/>
           <symbol id="s-crown">
              <path d="M 25 160 C 100 110, 90 140, 140 145 S 185 55, 233 99 S 270 80, 315 137 S 390 110, 420 125 S 460 65, 495 95 S 540 130, 560 86 S 610 35, 635 90 S 645 87, 710 130 S 790 40, 850 100 S 915 70, 945 93 S 1020 5, 1220 75" style="stroke:#000; stroke-width:6; fill:none; stroke-opacity:.12;"/>
          </symbol>
          <use xlink:href="#s-crown" x="5" y="51"/>

          <defs>
            <filter id="f2" x="0" y="0" width="200%" height="200%">
              <feOffset result="offOut" in="SourceGraphic" dx="0" dy="10" />
              <feGaussianBlur result="blurOut" in="offOut" stdDeviation="8" />
              <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
            </filter>

            <filter id="f1" x="0" y="0" width="200%" height="200%">
              <feOffset result="offOut" in="SourceGraphic" dx="3" dy="4" />
              <feGaussianBlur result="blurOut" in="offOut" stdDeviation="8" />
              <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
            </filter>
          </defs>

          <circle cx="480" cy="132" r="5" fill="rgb(244,128,76)" stroke-width="5" stroke="rgb(254,254,254)"/>
          <!--<polygon points="5,135 115,5 225,135" fill="#778293" />-->
          <g id="rect" filter="url(#f1)">
            <rect x="435" y="88" rx="7" ry="7" width="95" height="28" fill="#778293"/>
            <polygon points="480,78 495,68 465,68" transform='translate(2 43)' fill="#778293" />
            <text x="443" y="106" fill="#fff" font-size="13" font-weight="200" text-anchor="start">March $45.000</text>
          </g>
        </svg>

        <div class="wrap">
          <div class="prev_arrow" id="prev"></div>
          <svg width="100%" height="10">
          </svg>

          <div class="next_arrow" id="next"></div>
        </div>

        <div class="circle">
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>

      </div>

      <div class="middle">
        <ul class="first">
          <li>
            <figure class="chart3" data-percent="75">
              <div class="one"></div>
               <img class="html3" alt="" src="img/rep.jpg">
              <svg viewBox="0 0 195 195">
                <text x="15" y="15" fill="#54657e" font-size="15" font-weight="300" text-anchor="start">5278 Calls</text>
                <text x="15" y="39" fill="#54657e" font-size="15" font-weight="300" text-anchor="start">3,76 Miles</text>
                <text x="26" y="64" fill="#54657e" font-size="15" font-weight="300" text-anchor="start">419 Cals</text>
                <circle class="outer3" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
                <circle class="mot3" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
              </svg>

              <div class="two"></div>
               <img class="html2" alt="" src="img/rep.jpg">
              <svg viewBox="0 0 195 195">
                <circle class="outer2" cx="95" cy="95" r="60" transform="rotate(-90, 95, 95)"/>
                <circle class="mot2" cx="95" cy="95" r="60" transform="rotate(-90, 95, 95)"/>
              </svg>

              <div class="three"></div>
               <img class="html1" alt="" src="img/rep.jpg">
              <svg viewBox="0 0 195 195">
                <text x="68" y="101" fill="#54657e" font-size="21" font-weight="500" text-anchor="start">+28%</text>
                <circle class="outer1" cx="95" cy="95" r="35" transform="rotate(-90, 95, 95)"/>
                <circle class="mot1" cx="95" cy="95" r="35" transform="rotate(-90, 95, 95)"/>
              </svg>
            </figure>

          </li>

          <li>
            <ul class="second-l">
              <li>
                <ul class="third">
                  <li>
                    <figure class="chart" data-percent="75">
                      <figcaption>75%</figcaption>
                       <img class="html" alt="" src="img/rep.jpg">
                      <svg viewBox="0 0 185 185">
                        <circle class="outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)"/>
                      </svg>
                    </figure>
                  </li>
                  <li>
                    <ul class="fourth">
                      <li>15</li>
                      <li>NEW MECHANIC</li>
                    </ul>
                  </li>

                </ul>
              </li>

              <li>
                <ul class="third-l">
                  <li>
                    <ul class="fourth-l">
                      <li>85</li>
                      <li>Sessions (Last Week)</li>
                    </ul>
                  </li>

                  <li>
                    <svg width="60" height="48">
                      <g>
                       <rect x="0" y="16" width="4" height="28" style="fill:rgb(4,190,91);" />
                       <rect x="8" y="3" width="4" height="41" style="fill:rgb(4,190,91);" />
                       <rect x="16" y="11" width="4" height="33" style="fill:rgb(4,190,91);" />
                       <rect x="24" y="-3" width="4" height="47" style="fill:rgb(4,190,91);" />
                       <rect x="32" y="16" width="4" height="28" style="fill:rgb(4,190,91);" />
                       <rect x="40" y="25" width="4" height="19" style="fill:rgb(169,58,186);" />
                       <rect x="48" y="19" width="4" height="25" style="fill:rgb(169,58,186);" />
                      </g>
                    </svg>
                  </li>

                </ul>
              </li>

            </ul>
          </li>

          <li>
            <p>Daily load: <span>59%</span></p>
            <svg viewBox="0 0 360 230">
               <rect x="0" y="0" width="100%" height="1" style="fill:rgb(247,247,248);" />
               <text x="5" y="20" fill="#54657e" font-size="13" font-weight="200" text-anchor="start">25k</text>
               <rect x="0" y="30" width="100%" height="1" style="fill:rgb(247,247,248);" />
               <text x="5" y="50" fill="#54657e" font-size="13" font-weight="200" text-anchor="start">20k</text>
               <rect x="0" y="60" width="100%" height="1" style="fill:rgb(247,247,248);" />
               <text x="5" y="80" fill="#54657e" font-size="13" font-weight="200" text-anchor="start">15k</text>
               <rect x="0" y="90" width="100%" height="1" style="fill:rgb(247,247,248);" />
               <text x="5" y="110" fill="#54657e" font-size="13" font-weight="200" text-anchor="start">10k</text>
               <rect x="0" y="120" width="100%" height="1" style="fill:rgb(247,247,248);" />
               <text x="5" y="140" fill="#54657e" font-size="13" font-weight="200" text-anchor="start">5k</text>
               <rect x="0" y="150" width="100%" height="1" style="fill:rgb(247,247,248);" />
               <text x="5" y="170" fill="#54657e" font-size="13" font-weight="200" text-anchor="start">0</text>
               <rect x="0" y="180" width="100%" height="1" style="fill:rgb(217,219,221);" />

               <defs>
                <linearGradient id="Gradient1" x1="0" y1="0" x2="0" y2="100%">
                    <stop offset="0%" stop-color="#80c9ff" />
                    <stop offset="100%" stop-color="#7ac6ff" />
                </linearGradient>
                <linearGradient id="Gradient2" x1="0" y1="0" x2="0" y2="100%">
                    <stop offset="0%" stop-color="#9edaff" />
                    <stop offset="100%" stop-color="#7ac6ff" />
                </linearGradient>
                <linearGradient id="Gradient3" x1="0" y1="0" x2="0" y2="100%">
                    <stop offset="0%" stop-color="#91d3ff" />
                    <stop offset="100%" stop-color="#7ac6ff" />
                </linearGradient>
                <linearGradient id="Gradient4" x1="0" y1="0" x2="0" y2="100%">
                    <stop offset="0%" stop-color="#ade2ff" />
                    <stop offset="100%" stop-color="#84cbff" />
                </linearGradient>
                <linearGradient id="Gradient5" x1="0" y1="0" x2="0" y2="100%">
                    <stop offset="0%" stop-color="#a4ddff" />
                    <stop offset="100%" stop-color="#8bcfff" />
                </linearGradient>
                <linearGradient id="Gradient6" x1="0" y1="0" x2="0" y2="100%">
                    <stop offset="0%" stop-color="#b3e4ff" />
                    <stop offset="100%" stop-color="#9ad8ff" />
                </linearGradient>
                <linearGradient id="Gradient7" x1="0" y1="0" x2="0" y2="100%">
                    <stop offset="0%" stop-color="#b2e0fe" />
                    <stop offset="100%" stop-color="#a4ddff" />
                </linearGradient>
                <linearGradient id="Gradient8" x1="0" y1="0" x2="0" y2="100%">
                    <stop offset="0%" stop-color="#addbfe" />
                    <stop offset="100%" stop-color="#aee2ff" />
                </linearGradient>
                <linearGradient id="Gradient9" x1="0" y1="0" x2="0" y2="100%">
                    <stop offset="0%" stop-color="#94c5fc" />
                    <stop offset="100%" stop-color="#b5e5ff" />
                </linearGradient>
                <linearGradient id="Gradient10" x1="0" y1="0" x2="0" y2="100%">
                    <stop offset="0%" stop-color="#a4d2fd" />
                    <stop offset="100%" stop-color="#b7e5fe" />
                </linearGradient>
                <linearGradient id="Gradient11" x1="0" y1="0" x2="0" y2="100%">
                    <stop offset="0%" stop-color="#a3d2fd" />
                    <stop offset="100%" stop-color="#b4e1fe" />
                </linearGradient>
                <linearGradient id="Gradient12" x1="0" y1="0" x2="0" y2="100%">
                    <stop offset="0%" stop-color="#a4d2fd" />
                    <stop offset="100%" stop-color="#addbfe" />
                </linearGradient>
                <linearGradient id="Gradient13" x1="0" y1="0" x2="0" y2="100%">
                    <stop offset="0%" stop-color="#80b4fb" />
                    <stop offset="100%" stop-color="#a3d2fd" />
                </linearGradient>
                <linearGradient id="Gradient14" x1="0" y1="0" x2="0" y2="100%">
                    <stop offset="0%" stop-color="#7eb2fb" />
                    <stop offset="100%" stop-color="#97c7fc" />
                </linearGradient>
              </defs>
                <rect x="32" y="97" width="18" height="84" fill= "url(#Gradient1)" />
                <rect x="55" y="50" width="18" height="131" fill= "url(#Gradient2)" />
                <rect x="78" y="107" width="18" height="73" fill= "url(#Gradient3)" />
                <rect x="101" y="59" width="18" height="121" fill= "url(#Gradient4)" />
                <rect x="124" y="115" width="18" height="65" fill= "url(#Gradient5)" />
                <rect x="147" y="95" width="18" height="85" fill= "url(#Gradient6)" />
                <rect x="170" y="50" width="18" height="131" fill= "url(#Gradient7)" />
                <rect x="193" y="58" width="18" height="123" fill= "url(#Gradient8)" />
                <rect x="216" y="25" width="18" height="156" fill= "url(#Gradient9)" />
                <rect x="239" y="90" width="18" height="91" fill= "url(#Gradient10)" />
                <rect x="262" y="117" width="18" height="64" fill= "url(#Gradient11)" />
                <rect x="285" y="149" width="18" height="31" fill= "url(#Gradient12)" />
                <rect x="307" y="79" width="18" height="102" fill= "url(#Gradient13)" />
                <rect x="330" y="104" width="18" height="76" fill= "url(#Gradient14)" />

                <text x="30" y="210" fill="#54657e" font-size="13" font-weight="200" text-anchor="start">APR</text>
                <text x="80" y="210" fill="#54657e" font-size="13" font-weight="200" text-anchor="start">MAY</text>
                <text x="130" y="210" fill="#54657e" font-size="13" font-weight="200" text-anchor="start">JUN</text>
                <text x="180" y="210" fill="#54657e" font-size="13" font-weight="200" text-anchor="start">JULY</text>
                <text x="230" y="210" fill="#54657e" font-size="13" font-weight="200" text-anchor="start">SEP</text>
                <text x="280" y="210" fill="#54657e" font-size="13" font-weight="200" text-anchor="start">OCT</text>
                <text x="330" y="210" fill="#54657e" font-size="13" font-weight="200" text-anchor="start">NOV</text>
            </svg>

          </li>

        </ul>
      </div>
		</section>
	</main>

<script type="text/javascript" src = "circle.js"></script>
</body>
</html>
